{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %} Главная страница проекта {% endblock %}</h1>

    <form action="" method="POST" target=_self>
        <input type="text" id="poisk" name="poisk" value="{{ request.form['poisk'] }}"></input>
        <input type="submit" value="ПОИСК">
    </form>

    {% for row in rows %}
        <h2> <a href={{ url_for('static', filename='files/' + row['file_path']) }} download="">{{ row['file_path'] }}</a></h2>
    {% endfor %}

{% endblock %}